<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyroom">

	<select id="getstudyroom" resultType="studyroomvo">
		select * from studyroom where studyno = #{studyno}
	</select>

	<insert id="addstudyroom" parameterType="studyroomvo">
		insert into studyroom
		(studyno, studytitle, subjectcode, membercnt, locationcode, managerid, content)
		values ((select nvl(max(studyno),0)+1 from studyroom), #{studytitle}, #{subjectcode},
		#{membercnt}, #{locationcode}, #{managerid}, #{content})
	</insert>
	
	<select id="subjectlist" resultType="studyroomvo">
		select *
		from studyroom s, subcategory c
		where s.subjectcode = c.subjectcode and s.subjectcode=#{s.subjectcode}
	</select>
 	
 	<select id="categorylist" resultType="studyroomvo">
		select *
		from studyroom s, subcategory u, category c
		where s.subjectcode = u.subjectcode 
		and u.categorycode = c.categorycode 
		and c.categorycode=#{c.categorycode}
	</select>
 	
 </mapper>










