<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studymember">
	<insert id="addstudymember" parameterType="studymembervo">
		insert into studymember
		(studyno, userid, status, attend)
		values (#{studyno}, #{userid}, #{status},#{attend})
	</insert>
	<update id="acceptMember" parameterType="map">
		update studymember set attend = #{check} where userid=#{userid}  
		and studyno = #{studyno}
	</update>
	<select id = "getUserList" resultType="studymembervo">
		select * from studymember where studyno = #{studyno}
	</select>
 </mapper>












