<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyroom">

	<select id="getstudyroom" resultType="studyroomvo">
		select * from studyroom where studyno = #{studyno}
	</select>

	<insert id="addstudyroom" parameterType="studyroomvo">
		insert into studyroom
		(studyno, studytitle, subjectcode, membercnt, locationcode, managerid, content)
		values ((select nvl(max(studyno),0)+1 from studyroom), #{studytitle}, #{subjectcode},
		#{membercnt}, #{locationcode}, #{managerid}, #{content})
	</insert>

	<select id="getstudyno" resultType="Integer">
		select * from (select studyno from studyroom order by studyno desc) where rownum = 1
	</select>
	
	<select id="subjectlist" resultType="studyroomvo">
		select s.studyno,s.studytitle,s.subjectcode,s.membercnt,s.locationcode,s.managerid,s.regdate,s.state,s.content,s.viewcnt,
       		   c.categorycode,c.subjectname,l.loc1 || ' ' || l.loc2 as location
		from studyroom s, subcategory c, location l
		where s.subjectcode = c.subjectcode 
			and s.subjectcode=#{s.subjectcode} 
			and s.locationcode = l.locationcode
	</select>
 	
 	<select id="categorylist" resultType="studyroomvo">
		select s.studyno, s.studytitle, s.subjectcode, s.membercnt, s.locationcode, s.managerid, s.regdate, s.state, s.content, s.viewcnt,
	       u.categorycode, u.subjectname, l.loc1 || ' ' || l.loc2 as location
		from studyroom s, subcategory u, category c, location l
		where s.subjectcode = u.subjectcode 
			and u.categorycode = c.categorycode 
			and c.categorycode=#{c.categorycode} and s.locationcode = l.locationcode
	</select>
 	
 </mapper>










